body {
    padding: 80px;
    background-color: rgba(0, 72, 199, 0.63);
    font-family: Arial;
}

.page-title {
    text-align: center;
}

form {
    background-color: rgba(0, 72, 199, 0.63);
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: black -1.5px 4px 15px;
}
form > div {
    margin-top: 10px;
}

input {
    border-radius: 5px;
    border: 1px transparent;
}
.input-button {
    padding: 4px 7px;
}
.input-button:hover {
    cursor: pointer;
}
a {
    margin-bottom: 20px;
}

p {
    margin: 2px 0;
}

.accounts-for-user {
    margin-bottom: 15px;
    color: black;
}
.accounts-for-user > a {
    color: black;
}
.accounts-for-user > a:active {
    color: black;
}