#delete-user-form {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
}
#delete-user-form > input {
    height: 40px;
    width: 260px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}