<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Create User</title>
		<link rel="stylesheet" type="text/css" th:href="@{/general.css}">
	</head>
	<body>
		<h1 class="page-title">Create User</h1>
		
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" class="input-button" value="Create User" />
			</div>
		</form>
	<a th:href="@{/users}">Back</a>
	</body>
</html>