<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Users</title>
	<link rel="stylesheet" type="text/css" th:href="@{/general.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/users.css}">
</head>
<body>


<div th:if="${#lists.size(users) == 1}">
	<h1 class="page-title">User Information Update</h1>
	<form action="" method="post">
		<div>
			Username: <input type="text" th:field="${user.username}" />
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}" />
		</div>
		<div>
			Full Name: <input type="text" th:field="${user.name}" />
		</div>
		<div>
			Address Line 1: <input type="text" th:field="${user.address.addressLine1}" />
		</div>
		<div>
			Address Line 2: <input type="text" th:field="${user.address.addressLine2}" />
		</div>
		<div>
			City: <input type="text" th:field="${user.address.city}" />
		</div>
		<div>
			Region: <input type="text" th:field="${user.address.region}" />
		</div>
		<div>
			Country: <input type="text" th:field="${user.address.country}" />
		</div>
		<div>
			Zip Code: <input type="text" th:field="${user.address.zipCode}" />
		</div>
		<div>
			<input type="submit" class="input-button" value="Update User" />
		</div>
	</form>
	<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="get">
		<h2>Accounts</h2>
		<div th:each="account : ${user.accounts}">
			<a th:text="${account.accountName}" th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"></a>
		</div>
		<input type="submit" class="input-button" value="Create New Bank Account">
	</form></br>
	<form id="delete-user-form"  th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
		<input type="submit" class="input-button" value="Delete User" />
	</form>
	<a th:href="@{/users}">Back</a>

</div>

<!-- multiple users -->
<div th:unless="${#lists.size(users) == 1}"><h1 class="page-title">Users</h1></div>
<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
	<p>User ID #: <a th:href="@{/users/{userId}(userId=${user.userId})}" th:text="${user.userId}"></a></p>
	<p>Username: <span th:text="${user.username}"></span></p>
	<p>Name: <span th:text="${user.name}"></span></p>
	<p>Password: <span th:text="${user.password}"></span></p></br>
	<p>Accounts:</p>
	<div th:each="account : ${user.accounts}">
		<span th:text="${account.accountName}"></span>
	</div>
	<hr/>
</div>
<a th:href="@{/register}">New User</a>
</body>
</html>